

  .box-upload-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 170px;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: all .2s ease-in-out;
  }
  .box-upload-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .box-upload-icon i.icon {
    display: block;
    width: 93%;
    height: 105%;
    border: 1px dashed #f7f6f6;
    background: #678fb8;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    transition: all .4s ease-in-out;
  }
  .box-upload-icon i.icon:before {
    
    position: absolute;
    font-size: 100px;
    color: #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input:hover ~ .box-upload-icon i.icon {
    background: #fbf8f8;
  }
  
  input:active ~ .box-upload-icon {
    transform: scale(0.95);
  }
  input.input-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  .box-upload-image {
    
    display: inline-block;
    width: 260px;
    height: 160px;
    margin: 0 18px 10px 0;
    vertical-align: top;
    position: relative;
    
  }
  .box-upload-image img {
    border: 0.5px solid #ddd;
    border-radius: 3px;
    padding: 4px;
    width: 70px;
}
  
  .box-upload-image img {
    border-radius: 13px; 
    width: 50%;
    height: 50%;
    vertical-align: top;
    
  }
  
  .group-upload {
    display: inline-block;
    position: relative;
    vertical-align: top;
  }

  .box-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    top:18px;
    
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: all .2s ease-in-out;
  }
  .box-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  
  
  .box-icon i.icon {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px dashed #ebe0e088;
    background: #88b1d3;
    border-radius: 10px;
    z-index: 1;
    transition: all .4s ease-in-out;
  }
  
  .box-icon i.icon:before {
    content: 'ï¼‹';
    position: absolute;
    font-size: 60px;
    color: #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -55%);
  }
 
  input:hover ~ .box-icon i.icon {
    background: #fbf8f8;
  }
  
  input:active ~ .box-icon {
    transform: scale(0.95);
  }
  

.group-upload input.row-input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }

  .box-image img {
    display: inline-block;
    border: 2px solid rgb(136, 183, 223);
    border-radius: 4px;
    padding: 6px;
    width: 250px;
}
 .box-image img {
  
    border-radius: 13px;
    vertical-align: top;
    transition: 0.3s;
  }
  .box-image img:hover {opacity: 0.7;}
  .box-icon {opacity: 0.7;}
